<html>
  <head>
    <title>Slab Home</title>
    <link rel="stylesheet" href="/static/pure-min.css">
    <link rel="stylesheet" href="/static/main.css">
    <script type="text/javascript" src="/static/main.js"></script>
  </head>
  <body>
    <header>
      <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="" style="float: left;">Slab</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected">
              <a href="#" class="pure-menu-link">Home</a>
            </li>
        </ul>
      </div>
    </header>
    <div id="notifications">
    </div>
    <div class="splash-container">
      <div class="splash">
        <h1 class="splash-head">Welcome to Slab!</h1>
        <p class="splash-sub">
          Make webapps that run entirely on the client machine.
        </p>
      </div>
    </div>
  </body>
</html>
